@{
    ViewData["Title"] = "Home Page";
}
<br>

<div class="text-center">
    <h1 class="display-4"><i>Dobrodošli</i></h1>
    <br><br>
    <p> Zadatak za tvrtku Mono Osijek </p>
</div>
<br>
<br>

                <div id="sat" align="center"  style=" margin: 22px;">
                  <BODY  bgcolour="white" onLoad="Vrijeme()" >
                    <FORM name="vrijemeForma">
                    <input tipe="text" name="cifre" size=8>
                    </FORM>
                  </BODY>
                </div>

         
      </div>

<button1 onclick="typeWriter()">©Zadatak-</button1>

<p id="c2023"></p>

<script>
    var i = 0;
    var txt = '------ Izraditi zadatak za tvrtku Mono Osijek , po zadanim parametrima sa e-mail-a ------';
    var speed = 50;

    function typeWriter() {
        if (i < txt.length) {
            document.getElementById("c2023").innerHTML += txt.charAt(i);
            i++;
            setTimeout(typeWriter, speed);
        }
    }
</script>



